// ==========================================================================
// home/library.scss
// ==========================================================================

.library {
    @include m(full) {
        @include flex($dir: column, $algn: center);
        height: 100svh;
        width: 100%;
    }

    @include m(mini) {
        position: relative;
        width: 50%;
    }

    @include e(btn) {
        width: auto;
        margin: $spacing-lg 0;
    }
}