// ==========================================================================
// home/generator.scss
// ==========================================================================

.generator {
    // Make room for mini library on md+ screens.
    @include mq(medium) {
        width: 50%;
    }

    // Add space below window.
    @include e(window) {
        margin-bottom: $spacing-sm;
    }

    // Fit image to window and add black border.
    @include e(image) {
        display: block;
        width: 100%;
        background-color: $color--white;
        border: 1px solid $color--black;
    }

    // Put btns on same line.
    @include e(btns) {
        @include flex($dir: row);
    }
}