// ==========================================================================
// Config
// ==========================================================================

$font-url       : 'http://fonts.googleapis.com/css?family=Raleway';
$font-family    : 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size      : 15px;
$line           : 22.5px;
$letter-space   : 1px;

$spacing-sm   : 15px;
$spacing-lg   : 30px;

$black          :   #000;
$white          :   #fff;
$grey           :   #ccc;
$light-grey     :   #f1f1f1;
$dark-grey      :   #757575;

$btn-colors: (
    "black" : ($black, $grey),
    "white" : ($white, $grey)
);

$brkpoint-sm  : 1px;
$brkpoint-md  : 768px;
$brkpoint-lg  : 992px;
$brkpoint-xl  : 1200px;

$content-width-sm : 400px;
$content-width-md : 600px;
$content-width-lg : 800px;
$content-width-xl : 1000px;