// ==========================================================================
// utilities/helper.scss
// ==========================================================================

.hidden {
    display: none;
}

.hidden-sm-down {
    @include mq(small) {
        display: none;
    }
}

.hidden-md-up {
    @include mq(medium) {
        display: none;
    }
}