// ==========================================================================
// Mixins
// ==========================================================================

@mixin e($elements...) {
  @each $element in $elements {
    &__#{$element} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  @each $modifier in $modifiers {
    &--#{$modifier} {
      @content;
    }
  }
}

@mixin bg-colors($map) {
	@each $theme, $colors in $map {
		&--#{$theme} {
			$base-color: nth($colors, 1);
			background-color: $base-color;

			@if (length($colors) > 1) {
				$hover-color: nth($colors, 2);
				&:hover {
					background-color: $hover-color;
				}
			}
			
			@if lightness($base-color) <= 50% {
				color: $white;
			} @else {
				color: $black;
			}
		}
	}
}

@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null, $algn: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
	align-items: $algn;
}

@mixin mq($break) {
	@if $break == "small" {
	  @media (max-width: $brkpoint-md - 1) {
		@content;
	  }
	}
	@else if $break == "medium" {
	  @media (min-width: $brkpoint-md) {
		@content;
	  }
	}
	@else if $break == "large" {
	  @media (min-width: $brkpoint-lg) {
		@content;
	  }
	}
	@else if $break == "x-large" {
		@media (min-width: $brkpoint-xl) {
		  @content;
		}
	}
	 @else {
		 @error "Whoops! No value could be retrieved for `#{$break}`. "
	}
}
