// ==========================================================================
// Placeholders
// ==========================================================================

%select-styling, %textfield-styling {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid $grey;
}

%element-bottom-spacing {
    margin-bottom: 15px;
}

%btn-top-spacing {
    margin-top: 30px;
}
