// ==========================================================================
// Base
// ==========================================================================

// Include padding and border in size calculations.
*, *::before, *::after {
  box-sizing: border-box;
}

// Set default body styles for text and background.
body {
    font-size: $font-size;
    font-family: $font-family;
    line-height: ($line/$font-size);
    background-color: $light-grey;
    color: $black;
}

// Override default browser select style for consistency across browsers.
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: white url('/img/chevron.svg') no-repeat right 10px center;
  background-size: 12px;
  color: $black;
}