// ==========================================================================
// Base
// ==========================================================================

// Include padding and border in width and height calculations.
*, *::before, *::after {
  box-sizing: border-box;
}

// Add styles for body.
body {
    font-size: $font-size;
    font-family: $font-family;
    line-height: ($line/$font-size);
    background-color: $light-grey;
    color: $black;
}

// Override browser's default select styles for consistency across different browsers.
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: white url('/img/chevron.svg') no-repeat right 10px center;
  background-size: 12px;
  color: $black;
}