// Include padding and border element's total width and height calculations

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-size: $base__font-size;
    font-family: $font-family--primary;
    line-height: ($base__line/$base__font-size);
    background-color: $light-grey;
    color: $black;
}

