// ==========================================================================
// Account
// ==========================================================================

.account {
    flex-basis: 100%;

    @include e(select) {
        @extend %select-styling;
        @extend %element-bottom-spacing;
    }

    @include e(new) {
        display: none;
    }
    
    @include e(textfield) {
        @extend %textfield-styling;
        @extend %element-bottom-spacing;
    }

    @include e(btn) {
        @extend %element-bottom-spacing;
    }

    @include mq(medium) {
        margin-top: 15px;
    }
}
