// ==========================================================================
// Account
// ==========================================================================

.account {
    width: 100%;

    @include mq(medium) {
        margin-top: $spacing-sm;
    }

    @include e(select) {
        @extend %select-styling;
    }

    @include e(new) {
        @include mq(medium) {
            @include flex();
        }
    }
    
    @include e(textfield) {
        @extend %textfield-styling;

        @include mq(medium) {
            flex: 1;
            margin-right: $spacing-sm;
        }
    }

    @include e(btns) {
        @include mq(medium) {
            @include flex($dir: row-reverse);
            width: 50%;
            gap: $spacing-sm;
        }
    }

    @include e(select, textfield, btn) {
        margin-bottom: $spacing-sm;
    }
}
