// ==========================================================================
// Account
// ==========================================================================

.account {
    flex-basis: 100%;

    @include e(select) {
        @extend %select-styling;
    }
    
    @include e(textfield) {
        @extend %textfield-styling;
    }

    @include e(select, textfield, btn) {
        margin-bottom: 15px;
    }

    @include mq(medium) {
        margin-top: 15px;
    }
}
