// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    width: 100%;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}
