// ==========================================================================
// Content
// ==========================================================================

.content {
    @include flex($wrap: wrap);
    @extend %bottom-spacing;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(small) {max-width: $content-width-sm; }
    @include mq(medium) { max-width: $content-width-md; }
    @include mq(large) { max-width: $content-width-lg; }
    @include mq(x-large) { max-width: $content-width-xl; }
}
