// ==========================================================================
// Generator
// ==========================================================================

.generator {
    @include e(window) {
        @extend %element-bottom-spacing;
    }

    @include e(image) {
        display: block;
        width: 100%;
        border: 1px solid $black;
        background-color: $white;
    }

    @include e(btns) {
        @include flex($dir: row);
    }

    @include mq(medium) {
        flex-basis: 50%;
        margin-left: 15px; 
    }
}
