// ==========================================================================
// Generator
// ==========================================================================

.generator {
    @include e(window) {
        margin-bottom: 15px;
    }

    @include e(image) {
        display: block;
        width: 100%;
        background-color: $white;
        border: 1px solid $black;
    }

    @include e(btns) {
        @include flex($dir: row);
    }

    @include mq(medium) {
        flex-basis: 50%;
    }
}
