// ==========================================================================
// Helper
// ==========================================================================

.hidden {
    display: none!important;
}

.hidden-sm-down {
    @include mq(small) {
        display: none!important;
    }
}

.hidden-md-up {
    @include mq(medium) {
        display: none!important;
    }
}
