// ==========================================================================
// Home
// ==========================================================================

.home {
    @include flex($wrap: wrap);
    width: 100%;
    text-align: center;

    @include e(heading) {
        flex-basis: 100%;
    }

    @include e(title) {
        margin-top: 0;
    }

    @include e(btn) {
        margin-top: 30px;
    }

    @include mq(medium) {
        display: flex !important;
    }
}
