// ==========================================================================
// Home
// ==========================================================================

.home {
    @include flex($wrap: wrap);
    text-align: center;

    @include e(heading) {
        flex-basis: 100%;
    }

    @include e(subtitle) {
        @include mq(small) {
            display: none;
        }
    }

    @include e(btn) {
        @extend %btn-top-spacing;
    }
}
