// ==========================================================================
// Shame
// ==========================================================================

.account, .account__new {
    @include mq(medium) {
        height: 66.25px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    color: $black;
    background: white url('/img/chevron.svg') no-repeat right 10px center;
    background-size: 12px;
}
