// ==========================================================================
// abstracts/placeholders.scss
// ==========================================================================

// Styling for select and text field elements.
%select-styling, %textfield-styling {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid $color--grey;
}

// Center element within container.
%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}