// ==========================================================================
// abstracts/variables.scss
// ==========================================================================

// Font Family
$font-url       : 'http://fonts.googleapis.com/css2?family=Raleway';
$font-family    : 'Raleway', sans-serif;

// Base typography styles for body.
$font-size          : 15px;
$line-height        : 22.5px;
$letter-spacing     : 1px;

// Height break points for media queries.
$brkpoint-height--sm    : 1px;
$brkpoint-height--md    : 511px;
$brkpoint-height--lg    : 586px;
$brkpoint-height--xl    : 661px;

// Width break points for media queries.
$brkpoint-width--sm     : 1px;
$brkpoint-width--md     : 768px;
$brkpoint-width--lg     : 992px;
$brkpoint-width--xl     : 1200px;

// Content widths for each break point.
$content-width--sm      : 400px;
$content-width--md      : 600px;
$content-width--lg      : 800px;
$content-width--xl      : 1000px;

// Colors
$color--black           :   #000;
$color--white           :   #fff;
$color--grey            :   #ccc;
$color--grey-light      :   #f1f1f1;
$color--grey-dark       :   #757575;

// Color Maps
$color-map--btns: (
    "primary"   : (#000, #ccc),
    "secondary" : (#fff, #ccc)
);

// Spacing for elements.
$spacing-sm   : 15px;
$spacing-lg   : 30px;